config.py
**__pycache__**/
*.pyc
test.csv
__pycache__
**pycache**
.env
*.ipynb
demo-bot.py
**.ipynb_checkpoints**/**
key.json
oauth.json
key.json.old
sheets.googleapis.com-python.json
package.json
.ipynb_checkpoints/
